# Instabang .csv Production Using Pandas

In [4]:
import os
import pandas as pd
import numpy as np
import csv

from sklearn.model_selection import train_test_split
from pathlib import Path

In [223]:
pwd

'/Users/Nick/Desktop/general_assembly/Capstone'

In [547]:
with open('./moonmountainman/moomountainman_text/moonmountainman_caption_index', 'w', encoding='utf-8') as out_file:
    csv_out = csv.writer(out_file)
    csv_out.writerow(['FileName', 'Content'])
    for fileName in Path('./moonmountainman/moomountainman_text/').glob('*.txt'):
        lines = [ ]
        with open(str(fileName.absolute()),'rb') as one_text:
            for line in one_text.readlines():
                lines.append(line.decode(encoding='utf-8').strip())
        csv_out.writerow([str(fileName),' '.join(lines)])

In [548]:
df_text = pd.read_csv('./moonmountainman/moomountainman_text/moonmountainman_caption_index')

In [549]:
di = []
for row in df_text.FileName:
    d = row.split('/')
#     d = row.split('.txt')
    di.append(d[2])

In [550]:
df_text = df_text.assign(FileName=di)

In [551]:
df_text.sort_values(by='FileName', axis=0, inplace=True)
df_text.head()

,FileName,Content
410,2014-10-12_22-40-33_UTC.txt,My first post on Instagram. Time to figure thi...
707,2014-10-13_04-57-12_UTC.txt,Long before the mirror there was the reflectio...
763,2014-10-16_01-22-10_UTC.txt,"As the days get shorter, darkness creeps back ..."
537,2014-10-16_01-32-15_UTC.txt,"""Sunshine is delicious, rain is refreshing, wi..."
754,2014-10-17_00-16-47_UTC.txt,For my friends birthday party we went out and ...

In [552]:
df_image = pd.read_excel('./moonmountainman/moonmountainman_image/moonmountainman_image_index.xlsx', header=0)
df_image.head()

                Image FileName
0  2014-10-12_22-40-33_UTC.jpg
1  2014-10-13_04-57-12_UTC.jpg
2  2014-10-16_01-22-10_UTC.jpg
3  2014-10-16_01-32-15_UTC.jpg
4  2014-10-17_00-16-47_UTC.jpg

In [553]:
df_image['Captions'] = [df_text.Content[df_text['FileName'] == x].values for x in df_image['Image FileName'].map(lambda x: x.split('UTC')[0]+'UTC.txt')]
df_image.head()

,Image FileName,Captions
0,2014-10-12_22-40-33_UTC.jpg,[My first post on Instagram. Time to figure th...
1,2014-10-13_04-57-12_UTC.jpg,[Long before the mirror there was the reflecti...
2,2014-10-16_01-22-10_UTC.jpg,"[As the days get shorter, darkness creeps back..."
3,2014-10-16_01-32-15_UTC.jpg,"[""Sunshine is delicious, rain is refreshing, w..."
4,2014-10-17_00-16-47_UTC.jpg,[For my friends birthday party we went out and...

In [554]:
df_image['Captions']= df_image['Captions'].apply(lambda x: x.tolist()[0] if len(x)>0 else '')
df_image.head()

,Image FileName,Captions
0,2014-10-12_22-40-33_UTC.jpg,My first post on Instagram. Time to figure thi...
1,2014-10-13_04-57-12_UTC.jpg,Long before the mirror there was the reflectio...
2,2014-10-16_01-22-10_UTC.jpg,"As the days get shorter, darkness creeps back ..."
3,2014-10-16_01-32-15_UTC.jpg,"""Sunshine is delicious, rain is refreshing, wi..."
4,2014-10-17_00-16-47_UTC.jpg,For my friends birthday party we went out and ...

In [555]:
train, test = train_test_split(df_image, test_size=0.1)

In [556]:
train.drop(columns='Captions', inplace=True, axis=1)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3994: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [557]:
test.drop(columns='Captions', inplace=True, axis=1)

In [558]:
df_image.to_csv('moonmountainman_index.csv', header=False, index=False)

In [559]:
train.to_csv('moonmountainman_train.csv', header=False, index=False, sep=':')

In [560]:
test.to_csv('moonmountainman_test.csv', header=False, index=False, sep=':')

# Joining All .csv's

Loading all index .csv's

In [492]:
df_beautifulxtravel = pd.read_csv('./beautifulxtravel/beautifultravel_text/beautifulxtravel_index.csv', header=None)

In [494]:
df_chloebarryhang = pd.read_csv('./chloebarryhang/chloebarryhang_text/chloebarryhang_index.csv', header=None)

In [495]:
df_explorerssaurus = pd.read_csv('./explorerssaurus_/explorerssaurus_text/explorerssaurus_index.csv', header=None)

In [443]:
df_jesswandering = pd.read_csv('./jesswandering/jesswandering_text/jesswandering_index.csv', header=None)

In [496]:
df_lostleblanc = pd.read_csv('./lostleblanc/lostleblanc_text/lostleblanc_index.csv', header=None)

In [561]:
df_moonmountainman = pd.read_csv('./moonmountainman_index.csv', header=None)

In [498]:
df_theblondeabroad = pd.read_csv('./theblondeabroad/theblondabroad_text/theblondeabroad_index.csv', header=None)

In [499]:
df_watchluke = pd.read_csv('./watchluke/watchluke_text/watchluke_index.csv', header=None)

In [500]:
df_mikesugianto = pd.read_csv('./mikesugianto/mikesugianto_text/mikesugianto_index.csv', header=None)

In [501]:
df_jukkarisikko = pd.read_csv('./jukkarisikko/jukkarisikko_text/jukkarisikko_index.csv', header=None)

In [584]:
instabang_index = df_beautifulxtravel.append(df_chloebarryhang, ignore_index=True)

In [585]:
instabang_index = instabang_index.append(df_explorerssaurus, ignore_index=True)

In [586]:
instabang_index = instabang_index.append(df_jesswandering, ignore_index=True)

In [587]:
instabang_index = instabang_index.append(df_lostleblanc, ignore_index=True)

In [588]:
instabang_index = instabang_index.append(df_moonmountainman, ignore_index=True)

In [589]:
instabang_index = instabang_index.append(df_theblondeabroad, ignore_index=True)

In [590]:
instabang_index = instabang_index.append(df_watchluke, ignore_index=True)

In [591]:
instabang_index = instabang_index.append(df_mikesugianto, ignore_index=True)

In [592]:
instabang_index = instabang_index.append(df_jukkarisikko, ignore_index=True)

In [594]:
instabang_index.to_csv('instabang_index.txt', header=False, index=False, sep='\\', mode='w')

In [598]:
instabang_index_df = pd.read_csv('instabang_index.txt', sep='\\', header=None)

In [600]:
df_beautifulxtravel_train = pd.read_csv('./beautifulxtravel/beautifultravel_text/beautifulxtravel_train.csv', header=None)

In [601]:
df_chloebarryhang_train = pd.read_csv('./chloebarryhang/chloebarryhang_text/chloebarryhang_train.csv', header=None)

In [602]:
df_explorerssaurus_train = pd.read_csv('./explorerssaurus_/explorerssaurus_text/explorerssaurus_train.csv', header=None)

In [603]:
df_jesswandering_train = pd.read_csv('./jesswandering/jesswandering_text/jesswandering_train.csv', header=None)

In [604]:
df_lostleblanc_train = pd.read_csv('./lostleblanc/lostleblanc_text/lostleblanc_train.csv', header=None)

In [605]:
df_moonmountainman_train = pd.read_csv('./moonmountainman/moomountainman_text/moonmountainman_train.csv', header=None)

In [606]:
df_theblondeabroad_train = pd.read_csv('./theblondeabroad/theblondabroad_text/theblondeabroad_train.csv', header=None)

In [607]:
df_watchluke_train = pd.read_csv('./watchluke/watchluke_text/watchluke_train.csv', header=None)

In [608]:
df_mikesugianto_train = pd.read_csv('./mikesugianto/mikesugianto_text/mikesugianto_train.csv', header=None)

In [609]:
df_jukkarisikko_train = pd.read_csv('./jukkarisikko/jukkarisikko_text/jukkarisikko_train.csv', header=None)

In [626]:
df_beautifulxtravel_test = pd.read_csv('./beautifulxtravel/beautifultravel_text/beautifulxtravel_test.csv', header=None)

In [627]:
df_chloebarryhang_test = pd.read_csv('./chloebarryhang/chloebarryhang_text/chloebarryhang_test.csv', header=None)

In [628]:
df_explorerssaurus_test = pd.read_csv('./explorerssaurus_/explorerssaurus_text/explorerssaurus_test.csv', header=None)

In [629]:
df_jesswandering_test = pd.read_csv('./jesswandering/jesswandering_text/jesswandering_test.csv', header=None)

In [630]:
df_lostleblanc_test = pd.read_csv('./lostleblanc/lostleblanc_text/lostleblanc_test.csv', header=None)

In [631]:
df_moonmountainman_test = pd.read_csv('./moonmountainman/moomountainman_text/moonmountainman_test.csv', header=None)

In [632]:
df_theblondeabroad_test = pd.read_csv('./theblondeabroad/theblondabroad_text/theblondeabroad_test.csv', header=None)

In [633]:
df_watchluke_test = pd.read_csv('./watchluke/watchluke_text/watchluke_test.csv', header=None)

In [634]:
df_mikesugianto_test = pd.read_csv('./mikesugianto/mikesugianto_text/mikesugianto_test.csv', header=None)

In [635]:
df_jukkarisikko_test = pd.read_csv('./jukkarisikko/jukkarisikko_text/jukkarisikko_test.csv', header=None)

In [610]:
instabang_train = df_beautifulxtravel_train.append(df_chloebarryhang_train, ignore_index=True)

In [638]:
instabang_train = instabang_train.append(df_explorerssaurus_train, ignore_index=True)

In [639]:
instabang_train = instabang_train.append(df_jesswandering_train, ignore_index=True)

In [640]:
instabang_train = instabang_train.append(df_lostleblanc_train, ignore_index=True)

In [641]:
instabang_train = instabang_train.append(df_moonmountainman_train, ignore_index=True)

In [642]:
instabang_train = instabang_train.append(df_theblondeabroad_train, ignore_index=True)

In [643]:
instabang_train = instabang_train.append(df_watchluke_train, ignore_index=True)

In [644]:
instabang_train = instabang_train.append(df_mikesugianto_train, ignore_index=True)

In [645]:
instabang_train = instabang_train.append(df_jukkarisikko_train, ignore_index=True)

In [646]:
instabang_train.drop(instabang_train.columns[1], axis=1, inplace=True)

IndexError: index 1 is out of bounds for axis 0 with size 1

In [636]:
instabang_test = df_beautifulxtravel_test.append(df_chloebarryhang_test, ignore_index=True)

In [648]:
instabang_test = instabang_test.append(df_explorerssaurus_test, ignore_index=True)

In [649]:
instabang_test = instabang_test.append(df_jesswandering_test, ignore_index=True)

In [650]:
instabang_test = instabang_test.append(df_lostleblanc_test, ignore_index=True)

In [651]:
instabang_test = instabang_test.append(df_moonmountainman_test, ignore_index=True)

In [652]:
instabang_test = instabang_test.append(df_theblondeabroad_test, ignore_index=True)

In [653]:
instabang_test = instabang_test.append(df_watchluke_test, ignore_index=True)

In [654]:
instabang_test = instabang_test.append(df_mikesugianto_test, ignore_index=True)

In [655]:
instabang_test = instabang_test.append(df_jukkarisikko_test, ignore_index=True)

In [647]:
instabang_train.to_csv('instabang_train.txt', header=False, index=False, mode='w')

In [657]:
instabang_test.to_csv('instabang_test.txt', header=False, index=False, mode='w')